{% extends 'base.html.twig'%}

{% block title %} Ajouter une Coiffure {% endblock %}

{% block body %}

<div class="container">

{{ form_start(form) }}
    {{ form_row(form.name)}}
    {{ form_row(form.color)}}
    <button class="btn btn-info"> Ajouter </button>
{{ form_end(form)}}
</div>
{% endblock %}