{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="img-years">
              <img src="{{asset ('https://img.huffingtonpost.com/asset/5cd125001d00000d1db5b210.jpeg?ops=scalefit_960_noupscale&format=webp')}}" alt="Image" class="img-fluid" width="1000" >
              <div class="year">
                <span>3 <span>years in <br>excellent service</span></span>
              </div>
            </div>

          </div>
          <div class="col-lg-5 ml-auto pl-lg-5 text-center">
            <h3 class="scissors text-center">Welcome To O'Tifs!</h3>
            <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!</p>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
